<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- font awesome CDN -->
  <script src="https://kit.fontawesome.com/00b41454c3.js" crossorigin="anonymous"></script>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="style.css">
  <title>Test</title>
</head>

<body>
  <section id="main-div">
  <div class="bg-image" style="background-image: url('photos/breakfast-1804457_1920.jpg');
     height: 600px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" style="color:  #FF5733" href="#">Foodies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="color :  #FF5733 " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reservation</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="header-content">
      <div class="heading-text">
      <h5 class="mb-3 h4">Craving for</h5>
      <h1 class="mb-3 h1">Healthy Food?</h1>
    </div>
    <div class="p-text">
      <p>Here is what you always need. View our food collection and order healthy and yummy food within minutes</p>
    </div>
    <div class="header-btn">
      <button type="button" class="btn  orange-btn btn-lg">View Menu</button>
      <button type="button" class="btn  btn-lg outline-btn">Book a Table</button>
    </div>

    <div class="header-social-btn">
      <button class="social-btn"><i class="fab fa-facebook-f"></i></button>
      <button class="social-btn"><i class="fab fa-twitter"></i></button>
      <button class="social-btn"><i class="fab fa-instagram"></i></button>
    </div>
    </div>

  </div>
</section>

<section id="second-sec">
  <div class="section-heading-border">
    <p class="section-heading"><span style="font-weight:bold">Dish</span> of the Day</p>
  </div>
  <div class="second-sec-img bg-image" style="background-image: url('photos/cake-1971552_1920.jpg');
  height: 600px">
    <div class="second-sec-text">
      <h5 class="h4">Chocolate Cake</h5>
    </div>
  </div>
</section>

<section id="third-sec">
  <div class="section-heading-border">
    <p class="third-section-heading">Take a Look at <span style="font-weight:bold">MENU</span></p>
  </div>
  <div class="second-sec-img bg-image" style="background-image: url('photos/images-coffee-cups-placed-box.jpg');
  height: 800px">
  </div>
  <div>
    <button type="button" class="btn  btn-lg outline-btn">BROWSE MENU</button>
  </div>
</section>

<section id="fourth-sec">
  <div class="section-heading-border">
    <p class="fourth-section-heading"><span style="font-weight:bold">Services </span>We Provide</p>
  </div>
    <div class="row">
      <div class="col-lg">
    <div class="card" style="width: 18rem;">
      <img src="photos/Carousel-Dining_Landing-1440x620.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">1</h5>
        <p class="card-text">Dine In/Takeaway</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="photos/Indoor-dining.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">2</h5>
        <p class="card-text">Easy Table Reservation</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="photos/Home-delivery-system-750x369 (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">3</h5>
        <p class="card-text">Free Home Delivery</p>
      </div>
    </div>
    </div>
  </div>
</div>
</section>

</body>

</html>