.header-content{
    width : 450px;
    margin: 150px auto 50px 60px;
}

.navbar-brand{
    font-family: 'New Tegomin', serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 60px;
}

.active {
    font-weight: bold;
}

.header-content, p {
    font-size: 13px;
}

.heading-text, .p-text{
    padding-left: 20px;
    border-left: solid #FF5733 7px;
}

.header-btn{
    padding-left: 27px;
}

.mb-3.h4{
    font-size: 30px;

}
.mb-3.h1{
    font-size: 50px;
    font-weight: bold;
}

.orange-btn , .outline-btn:hover{
    background-color : #FF5733;
    border: #FF5733;
    color: white;
}


.outline-btn, .orange-btn:hover{
    border-color:  #FF5733;
    background-color: whitesmoke;
    color:  #FF5733;
}

.social-btn{
    font-size: 15px;
    border-radius: 100%;
    border-color: white;
    border-width: 1px;
    margin-right: 10px;
    box-shadow: 5px 3px 5px #888888;
}

.header-social-btn{
    margin: 60px auto 20px;
    padding-left: 27px;
}

#second-sec{
    margin: 70px 70px;
    text-align: center;
}

.section-heading{
    font-size: 20px;
    width:150px;
}

.section-heading-border{
    border-left: solid #FF5733 7px;
    margin: auto 500px
}

.second-sec-img{
    margin: 50px auto
}

.second-sec-text{
    width : 300px;
    padding : 10px;
    color: white;
    background-color: #FF5733 ;
   margin : 20 auto auto 10px
}

.third-section-heading{
    font-size: 20px;
    width:220px;
}

#third-sec, #fourth-sec{
    margin: 70px 70px;
    text-align: center;
}



.fourth-section-heading{
    font-size: 20px;
    width:220px;
}